/* To save my eyes while developing :)*/
body {
    background: darkslategrey;
    color: beige;
    font-size: 40px;
}

input {
    width: 300px;
    height: 35px;
    border-radius: 20px;
    font-size: 25px;
    padding-left: 12px;
    border: 2px solid darkslategrey;
    outline: 1px solid honeydew;
}

button {
    width: 100px;
    height: 35px;
    font-size: 25px;
}
